<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TastingNote-Coffee.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>60DC1C3A1F697ADA008E54AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DC1C4E1F697ADB008E54AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60DC1C591F697ADB008E54AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
